body{
  background-color: #5D576B;
}

#prjs{
  width: 90%;
  height: 90%;
  margin: 0 auto;
}
  
.hex{
  width: 18.75em;
  height: 10.9em;
  margin: 50px;
  overflow: hidden;
}

/* transform three rectangles into hexagon */
#side1, #side2, #side3{
  position: absolute;
  z-index: 1;
}
#side1{
  transform: rotate(60deg);
  border-right: 2px solid white;
}
#side2{
  text-align: center;
  z-index: 2; 
  border-right: 2px solid white;
}
#side3{
  transform: rotate(-60deg);
  border-left: 2px solid white;
}

/* hexagon positioning and fill */
.h1, .h2, .h3, .h4{
   margin-top: -5%;
}

.h5, .h6, .h7{
   margin-top: 12%;
}

.h1{
  background-color: #FFEC75;
}

.h2{
  background-color: #FFDB3A;
}
.hex2{
  margin-left: 22.5%;
}

.h3{
  background-color: #FFE5AF;
}
.hex3{
  margin-left: 45%;
}

.h4{
  background-color: #FFAE35;
}
.hex4{
  margin-left: 67.5%;
}

.h5{
  background-color: #F7941B;
}
.hex5{
  margin-left: 11%;
  /*margin-top: 21%;*/
}

.h6{
   background-color: #FFEC75;
}
.hex6{
  margin-left: 33.5%;
  margin-top: 21%;
}

.h7{
  background-color: #FFDB3A;
}
.hex7{
  margin-left: 56%;
  margin-top: 21%;
}

