html {
	background-image: url(images/asfalt-dark.png);
}

h1 {
	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 40px;
}

li {
	display: inline;
}

a:link {
	list-style-type: none;
}

a:hover {
	list-style-type: underline;
}
