html {
	background-image: url(images/asfalt-dark.png);
}

h1 {
	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 40px;
	font-weight: 700px;
}

li {
	display: inline;
}

a {
	font-family: 'Lucida Bright', Georgia, serif;
	color: black;
}

a:link {
	text-decoration: none;
}

footer {
	font-family: 'Lucida Bright', Georgia, serif;
}

